.content table {
	table-layout: auto !important;
	border-collapse: separate;
	border-spacing: 0;
	border: 1px solid rgb(63 63 70 / 0.5);
	border-radius: 0.75rem;
	overflow: hidden;
	background: rgb(255 255 255 / 0.03);
}

.content :is(td, th) {
	padding: 0.8rem 0.5rem;
}
.content :is(td, th) * {
	padding: 0;
	margin: 0;
	line-height: 1.3;
}
.content tbody tr:not(:last-child) :is(td, th) {
	border-bottom: 1px solid rgb(63 63 70 / 0.3);
}
